assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

.idea
/vendor/
composer.lock
.php_cs.cache
/coverage/
.phpunit.result.cache
tests.php
.DS_Store
.history/
yii-goaop/
tests/Features/runtime/aspect/
tests/Features/runtime/logging.log
